<!DOCTYPE html>
<html lang="eng">
    <head>
    	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta charset="UTF-8">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">


        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular.min.js"></script>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

    	<script src="javascript/app.js"></script>
        <script src="javascript/map.js"></script>
        <script src="javascript/pieChart.js"></script>
        <script src="javascript/bubbles.js"></script>
        <script src="javascript/runnable.js"></script>
        <link rel= "stylesheet" href="main.css">

        <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,900,500italic' rel='stylesheet' type='text/css'>

      <title>Where does my vote go?</title>
    </head>

    <body class="container" ng-app="explanation">
        <div ng-controller="StateSelectController">
            <div id="intro" ng-show="firstStart">
            <h2>Does your vote count?</h2>

                <p>If you are a US resident of voting age, you’ve certainly heard people complain about the perceived un-impactfulness of their vote. We have created a tool which allows anyone to follow a vote from the start of the caucuses and primaries, up until the general election. Play around with it, and then make up your own mind as to whether your vote really is as un-impactful as it may seem.</p>

                <p>Of course your vote can only be meaningful if you are legally able to in the first place. If you are above the age of 18 and are not currently a registered voter, please do so!</p>

                <p>As is with the complicate democratic process the US uses, every state conducts their delegate-allotment processes slightly differently. Thus, we need to know which state you are currently from before we proceed.</p>

                <button class="btn-large center-align" ng-click="beginExperience()">Let's see!</button>

            </div>


            <div  ng-hide="firstStart">
                <div class="state-question center-align">
                    <h4>Which state are you currently registered to vote in?</h4>

                    <select class="form-control" ng-model="stateSelector" ng-change="selectState(stateSelector)" required>
                        <option value="">Select State</option>
                        <option ng-repeat="state in states" value="{{state}}">{{state.name}}</option>
                    </select>

                    <!--Prompt users to register (need to talk about new windown or refresh page)-->
                    <p>Not registered? <a href="https://vote.usa.gov/" role="button">Register here.</a></p>

                    <h3>Which party are you registered in?</h3>
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn" ng-click="selectParty('republican')">Republican</button>
                        <button type="button" class="btn" ng-click="selectParty('democratic')">Democratic</button>
                        <button type="button" class="btn" ng-click="selectParty('independent')">Independent</button>
                        <!-- <button type="button" class="btn btn-default" ng-click="selectParty('none')">None</button> -->
                    </div>
                    </br>
                    </br>

                </div>

                <div id="unableToVoteCase" ng-if="noVote">
                    <p>Unfortunately, you are actually ineligable to vote in your state for the party elections. Either register with a party, or move. =(</p>
                </div>

                <div id="continueExplanation" ng-hide="noVote">

                    <div id="overallExplanation" ng-hide="currentState == '' || partySelection == ''">


                        <!--Button group to select party affiliation-->

                        <div id="votingEligibilitySection" class="section">

                            <h4>Who is allowed to vote, and for what party?</h4>
                            <p>Each state gets to choose who is allowed to participate in the non-general election. Some states require party registration, some allow anyone to vote. </p>

                            <p ng-if="currentState[partySelection].type=='closed'">{{currentState.name}} runs closed elections, so voters need to be registered with the party they plan to vote for in pre-general elections.</p>

                            <p ng-if="currentState[partySelection].type== 'open'">{{currentState.name}} runs open elections, so voters do not need to be registered with the party they plan to vote for in the pre-general elections, although they must choose only one party to vote.</p>

                            <p ng-if="currentState[partySelection].type=='mixed'">{{currentState.name}} runs a mixed election, so voters in your state can vote in a variety of ways, depending on your state. Some will include everyone on one ballot, some will only allow registered members of a party to only vote for that party but still allow independents to vote as they choose, and more.</p>

                            <h5>Let's see how people can decide to vote in {{currentState.name}}!</h5>

                            <div id="bubbles"></div>

                            <button type="button" class="btn" onclick="bubbleChart.sort()">Sort (WIP)</button>


                            <p>The blue bubbles represent registered Democrats, the red bubbles represent registered Republicans, and the green bubbles represent everyone else.</p>

                            <p ng-if="currentState[partySelection].type=='closed'">Your state is closed, so you can see that all the blue bubbles can only go to the Democratic voting areas, and are not allowed into the Republican voting areas. The reverse is true for the red bubbles. The green bubbles are not registered for either, and cannot vote in either party.</p>

                            <p ng-if="currentState[partySelection].type== 'open'">Your state is open, so you can see that all of the bubbles of any color can go vote in any voting booth, or none at all.</p>

                            <p ng-if="currentState[partySelection].type=='mixed'">Your state is too complicated for a version 0 product to supply.... </p>

                        </div>

                        <div id="delegateExplanation" class="section">

                            <h4>I know where I can vote now, but what does voting actually do?</h4>

                            <p>Funny enough, your vote doesn't vote to elect a candidate, your vote counts towards electing a person to elect a candidate for you. This person is called a delegate, and their job is to represent your vote in the elections outside of your district.</p>

                            <p ng-if="currentState.republican.allocation=='unbound'">However, in {{currentState.name}}, there is a small caveat. Your state's delegates are unbound, which means that although delegates are awarded depending on the results of your vote, delegates can still decide to vote according to their own views, regardless of the results of your state. Although this rarely happens, it is still something to be aware of.</p>

                            <p>Many states have different ways of calculating how your vote transfers over towards a delegate, but first we have to talk about how your vote is collected in the first place</p>

                        </div>

                        <div id="electionTypeSection" class="section">
                            <h4>How does {{currentState.name}} gather your votes to choose your state's delegates?</h4>

                            <p ng-model="currentState">Your party in this state holds a {{currentState[partySelection].method}} to choose its delegates</p>

                            <img src="img/caucus.jpg" ng-if="currentState[partySelection].method == 'caucus'">

                            <p ng-if="currentState[partySelection].method == 'caucus'">A caucus is a system of local gatherings where voters decide which candidate to support and select delegates for nominating conventions. Caucuses are unique in that they allow participants to openly show support for candidates. Voting is often done by raising hands or breaking into groups according to the candidate participants support. The results of the caucus are used to determine the delegates present at county, state and national nominating conventions of each political party. Most often, only registered voters can participate in a caucus, and they are limited to the caucus of the party with which they are affiliated. </p>

                            <img src="img/primary.jpg" ng-if="currentState[partySelection].method == 'primary'">

                            <p ng-if="currentState[partySelection].method == 'primary'">A primary is a statewide voting process in which voters cast secret ballots for their preferred candidates. Similar to the general election process, primary voters cast secret ballots for the candidates of their choosing. For those who have ever voted before, from a general election to a school class president, this will feel very familiar. </p>

                        </div>

                        <div id="distributionTypeSection" class="section">
                            <h4>Once my vote's been cast, how do the delegates get chosen?</h4>

                            <p>Now that we know how your vote is cast, and that your vote actually goes towards delegate representation, we now know that your vote will go to a delegate that matches your views, right? Well, not always.</p>

                            <p ng-if="currentState[partySelection].method == 'caucus'">Thankfully, your state and party vote in caucuses, so it really is that easy! Your vote is proportional, which means that if your vote represents 60% of the people in your voting district, 60% of the delegates are going to vote for the person you wanted to see in office. </p>

                            <p ng-if="currentState.republican.allocation=='p'">Thankfully, {{currentState.name}} is proportional, so it really is that easy. If your vote represents 60% of the people in your voting district, 60% of the delegates are going to vote for the person you wanted to see in office.</p>

                            <p ng-if="currenState.republican.allocation == 'wtm'">Now, {{currentState.name}} is a bit different. Your state is Winner Take Most, which means that some delegates are reserved for the winner of the primary/caucus, and others are divided proportionally to the outcome of vote. So, if you voted in the majority of your state, your vote is more represented than people with other views. However, if you are in the minority, your vote will be represented less than those with the majority view.</p>

                            <p ng-if="currenState.republican.allocation == 'wta'">{{currentState.name}} is actually very different than this system. Your state is Winner Take All, which means that all delegates are awarded to the winner of a primary. If you are a part of the majority vote, your vote will be overrepresented by a large degree. If your vote is not part of the majority, your vote will actually not count towards electing a candidate. Bummer.</p>

                        </div>

                        <div id="pieChartSection" class="section">

                            <h4 id="pieTitle">How much of an impact do the delegates my state pick have on the candidate that will make it into the general election?</h4>


                            <p ng-model="currentState"> Every state has a certain number of delegates used, to represent the population of your state compared to population of the United States as a whole. If you live in a heavily populated state, you will have more delegates than a sparsely-populated state. Your state is allotted {{currentState.democratic.delegates}} democratic delegates and {{currentState.republican.delegates}} republican delegates</p>

                            <div id="tooltip" class="hidden">
                                <p><strong>Important Label Heading</strong>
                                </p>
                                <p><span id="value">100</span>%</p>
                                <p><span id="stateLabel">State label</span></p>
                            </div>

                            <div id="wrapper">
                                <div id="firstSet"><p id="titleRep">Republican:</p>
                                    <div id="pie1"></div>
                                    <div id="pie2"></div>
                                </div>
                                <div id="secondSet">
                                    <p id="titleDem">Democrat:</p>
                                    <div id="pie3"></div>
                                    <div id="pie4"></div>
                                </div>
                            </div>
                        </div>

                        <!-- <div id="tooltip2" class="hidden">
                            <p><strong>Important Label Heading</strong>
                            </p>
                            <p><span id="value">100</span>%</p>
                        </div> -->

                        <div id="mapSection" class="section">
                            <!--button group to toggle between explore options-->
                            <h4>How does my state compare to other states?</h4>
                            <p>Let's check out how {{currentState.name}} fits in with the rest of the United States. Click the filters to highlight states that fit within to a category, or hover to learn even more. WIP WIP WIP</p>
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default">Open</button>
                                <button type="button" class="btn btn-default">Semi-Open</button>
                                <button type="button" class="btn btn-default">Semi-Closed</button>
                                <button type="button" class="btn btn-default">Closed</button>
                            </div>
                            <div id="vis"></div>
                        </div>

                        <div id="conclusionSection" class="section">
                        </div>
                    </div>
                </div>

            </div>

        </div>


    </body>
</html>
