@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,900,500italic);

.state-question {
	width:85%;
	margin-left:15%;
	padding: 5%;
	padding-left, padding-right: 10%
}

.state-question h4 {
	margin-top: 0;
}

.state-question p {
	font-size: 12pt;
}

p {
	font-size: 15pt;
}
