@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,900,500italic);

.state-question {
	width:85%;
	margin-left:15%;
	padding: 5%;
	padding-left, padding-right: 10%
}

.state-question h4 {
	margin-top: 0;
}

.state-question p {
	font-size: 12pt;
}

p {
	font-size: 15pt;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.section {
    margin-bottom: 10px;
}

path:hover path.state {
	fill : "#030303";
}

#bubbles {
    /*position: fixed;*/
    top:20px;
    float: left;
}

img {
    margin-bottom: 8px;
    margin-top: 8px;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

#wrapper{
    width: 100%;
    overflow: hidden; /* contain floated elements */

}

/*#titleRep {
	float:left;
	width:10%;
}

#titleDem{
	float:left;
	//width:10%
}*/

#firstSet {
	float:left;
	width:100%;
}

#secondSet {
	float:left;
	width:100%;
}

#pie2 {
    float: left;
    width: 50%;

}

#pie1 {
    float: left;
    width: 50%;
}

#pie4{
    float: left;
    width: 50%;
}

#pie3{
    float: left;
    width: 50%;
}

#tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -mox-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4) pointer-events: none;
}

#tooltip.hidden {
    opacity: 0;
}
#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}
