@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,900,500italic);

.state-question {
	width:85%;
	margin-left:15%;
	padding: 5%;
	padding-left, padding-right: 10%
}

.state-question h4 {
	margin-top: 0;
}

.state-question p {
	font-size: 12pt;
}

p {
	font-size: 15pt;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

#wrapper{
    width: 100%;
    overflow: hidden; /* contain floated elements */
    
}

#pie2 {
    float: left; 
    width: 25%;
    
}

#pie1 { 
    float: left;  
    width: 25%;
}

#pie4{
    float: left;
    width: 25%;    
}

#pie3{
    float: left;
    width: 25%;    
}

